<a href="https://colab.research.google.com/github/20A31A0511/satyapriya-eztraining-python/blob/main/DAY3(contents%26programs).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In [ ]:
#Creation of list
L=[11,6,8.9,"satya",[3]]
print(type(L))
print(L)

<class 'list'>
[11, 6, 8.9, 'satya', [3]]

In [ ]:
#Slicing
print(L[3])
print(L[-1])
print(L[0:5])
print(L[2:])
print(L[:-1])
print(L[::-1])

satya
[3]
[11, 6, 8.9, 'satya', [3]]
[8.9, 'satya', [3]]
[11, 6, 8.9, 'satya']
[[3], 'satya', 8.9, 6, 11]

# List functions

*   append()-adding element at the end
*   extend()-adding more than one element
*   insert()-adding element at a particular index
*   remove()-removes an element
*   pop()-removes and returns an element at the given index
*   clear()-all elements removed
*   index()-returns the index of first matched item
*   count()-returns the count of the element
*   sort()-sorts the elements in ascending order
*   reverse()-reverses the list
*   copy()-copies the list into new list

In [ ]:
l=[1,3,11,"satya",66.6,12,11,"priya"]
print(l)
l.append(5)
print(l)
l.extend(["hi",7])
print(l)
l.insert(2,[])
print(l)
l.remove(11)
print(l)
l.pop(0)
print(l)
l.pop()
print(l)
print(l.index("satya"))
l.append(11)
print(l)
print(l.count(11))
l.reverse()
print(l)
l1=[1,6,4]
l1.sort()
print(l1)
l1.clear()
print(l1)

[1, 3, 11, 'satya', 66.6, 12, 11, 'priya']
[1, 3, 11, 'satya', 66.6, 12, 11, 'priya', 5]
[1, 3, 11, 'satya', 66.6, 12, 11, 'priya', 5, 'hi', 7]
[1, 3, [], 11, 'satya', 66.6, 12, 11, 'priya', 5, 'hi', 7]
[1, 3, [], 'satya', 66.6, 12, 11, 'priya', 5, 'hi', 7]
[3, [], 'satya', 66.6, 12, 11, 'priya', 5, 'hi', 7]
[3, [], 'satya', 66.6, 12, 11, 'priya', 5, 'hi']
2
[3, [], 'satya', 66.6, 12, 11, 'priya', 5, 'hi', 11]
2
[11, 'hi', 5, 'priya', 11, 12, 66.6, 'satya', [], 3]
[1, 4, 6]
[]

# **programs**

*   Create a list with 10 items print the elements one by one
*   Create a list with 5 float numbers and find and display,sum,avg of the list
*   After creating a list with 6 elements from the user,extract only even numbers from the list

In [ ]:
#Program 1
l=[2,4,11,"satya",8.6,[],6.9,11,"hi",5]
for i in l:
  print(i)

2
4
11
satya
8.6
[]
6.9
11
hi
5

In [ ]:
l=[2,4,11,"satya",8.6,[],6.9,11,"hi",5]
for i in range(len(l)):
  print(l[i])

2
4
11
satya
8.6
[]
6.9
11
hi
5

In [ ]:
#program 2
l1=[1.1,2.2,3.3,4.4,5.5]
print(sum(l1))
avg=sum(l1)/len(l1)
print(avg)

16.5
3.3

In [ ]:
#program 3
list2=list(map(int,input("enter the numbers:").split()))
for i in list2:
  if i%2==0:
    print(i)

enter the numbers:9 8 7 6 5 4
8
6
4

In [ ]:
l=list(map(int,input("enter the numbers in the list:").split(",")))
prod=1
sum=0
for i in l:
  prod=prod*i
if prod<750:
  print("product:",prod)
else:
  for i in l:
    sum=sum+i
  print("sum:",sum)

enter the numbers in the list:11,5,10,9
sum: 35

# List comprehension

In [ ]:
numbers=[elements for elements in "great afternoon"]
print(numbers)

['g', 'r', 'e', 'a', 't', ' ', 'a', 'f', 't', 'e', 'r', 'n', 'o', 'o', 'n']

In [ ]:
l=["hyd","vizag","vijayawada","kakinada"]
city=[]
for i in l:
  if "v" in i:
    city.append(i)
print(city)

['vizag', 'vijayawada']

In [ ]:
l=[2**x for x in range(1,11)]
print(l)
l1=[i for i in range(10,100,10)]
print(l1)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]
[10, 20, 30, 40, 50, 60, 70, 80, 90]

# Set

*   unordered 
*   mutable
*   no index
*   duplication not allowed


# Set functions

*   s.add()-one element
*   s.update()-more than one element
*   s.dicard()-removes the element from the set
*   s.remove()-returns error when element is not present in the set

In [ ]:
s={1,2,3,4,5,6}
print(type(s))
print("set:",s)
s.add(7)
print(s)
s.update([8,9])
print(s)
s.discard(2)
print(s)
s.discard(10)
print(s)
s.remove(4)
print(s)

<class 'set'>
set: {1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 5, 6, 7, 8, 9}

In [ ]:
s={1,2,3,4,5,6}
s.remove(10)
print("set:",s)

KeyError: ignored

In [ ]:
s1={10,20,30}
s2={11,22,30,40}
print("s1 union s2:",s1|s2)
print("s1 intersction s2:",s1&s2)
print("difference of sets:",s1-s2)
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))

s1 union s2: {20, 22, 40, 10, 11, 30}
s1 intersction s2: {30}
difference of sets: {10, 20}
{20, 22, 40, 10, 11, 30}
{30}
{10, 20}

In [ ]:
#Superset
s1={10,20}
s2={10,20,30,40}
s2.issuperset(s1)

True

In [ ]:
#symmetric difference
s1={10,20,44}
s2={10,20,30,40}
print(s1^s2)
print(s1.symmetric_difference(s2))

{40, 44, 30}
{40, 44, 30}

# Tuple


*   count()
*   index()

In [ ]:
t=(11,34,"hello",90,11)
print(type(t))
print(t)
print(t.count(11))
print(t.index("hello"))

<class 'tuple'>
(11, 34, 'hello', 90, 11)
2
2

In [ ]:
#nested tuple
t1=(1,3,5)
t2=(2,4,6)
t=(t1,t2)
print(t)

((1, 3, 5), (2, 4, 6))

# Dictionary

*   Dictionary contains elements with 2 units keys and values
*   Keys must be unique
*   d.items()-returns all pairs
*   d.update({1:"hi"})-add one or more items
*   d.pop()-fetch and remove item
*   d.popitem()-fecth and removes recently added item
*   d.setdefault(1:"hi")-if the key is not in dict-it will be added or ntng will be done

In [ ]:
d={1:"satya",2:"priya"}
print(type(dict))
print("dictionary:",d)
print(d.keys())
print(d.values())
print(d.items())

<class 'type'>
dictionary: {1: 'satya', 2: 'priya'}
dict_keys([1, 2])
dict_values(['satya', 'priya'])
dict_items([(1, 'satya'), (2, 'priya')])

In [ ]:
d={1:"satya",2:"priya"}
print(d[1])
print(d.get(2))

satya
priya

In [ ]:
l=["hi","hello"]
print(dict.fromkeys(l))
print(dict.fromkeys(l,1))

{'hi': None, 'hello': None}
{'hi': 1, 'hello': 1}

In [ ]:
d={1:"satya",2:"priya"}
d.update({3:"hi",4:"hello"})
print(d)
d.pop(3)
print(d)
print(d.popitem())
print(d)

{1: 'satya', 2: 'priya', 3: 'hi', 4: 'hello'}
{1: 'satya', 2: 'priya', 4: 'hello'}
(4, 'hello')
{1: 'satya', 2: 'priya'}