<a href="https://colab.research.google.com/github/20A31A0511/satyapriya-eztraining-python/blob/main/DAY5_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Random module
import random as r
x="satya priya"
print(r.sample(x,4))
l=[1,2,3,4,5,6]
print(r.shuffle(l))
print(l)
print(r.choice(l))
x="satya priya"
print(r.choice(x))
a=r.random()
print(a)
l=[1,2,3,4,5,6]
print(r.choices(l,k=12))
print(r.randint(20,30))
print(r.choices(x,k=15))
print(r.uniform(2,11))

['t', 'y', 'a', 'i']
None
[1, 4, 3, 6, 5, 2]
2
i
0.20425092034993098
[1, 3, 2, 6, 3, 2, 3, 6, 4, 6, 3, 6]
28
['s', 'i', 'i', 'a', 's', 's', 'y', 'a', 'y', 'a', 'a', 'a', 'r', 'a', 'p']
3.4386824593466647

In [2]:
import random as r
l=[1,2,3,4,5]
print(r.choices(l,a=10))

TypeError: ignored

In [ ]:
#to find out all the functions in a module
z=dir(r)
print(z)

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_Sequence', '_Set', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_inst', '_log', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

In [ ]:
#calendar module
import calendar
print("Full calendar")
print(calendar.calendar(2023))
print("Particular month")
print(calendar.month(2023,12))
print("set first day of the week")
calendar.setfirstweekday(calendar.WEDNESDAY)
print(calendar.month(2022,12))

Full calendar
                                  2023

      January                   February                   March
We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu      We Th Fr Sa Su Mo Tu
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

Particular month
   December 2023
We Th Fr Sa Su Mo Tu
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

set first day of the week
   December 2022
We Th Fr Sa Su Mo Tu
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [ ]:
#Datetime module
import datetime
a=datetime.datetime.now()
print(a)
sv=a.strftime("%Y")
fv=a.strftime("%Y")
print("short version:",sv)
print("full version:",fv)

2023-02-03 04:45:09.788641
short version: 2023
full version: 2023

In [ ]:
#without args and return values
def sample():
  print("hi")
  print("good morning")
sample()

hi
good morning

In [ ]:
#without args and return values
def sample():
  print("hi")
  print("good morning")
sample()
print("hello")
sample()

hi
good morning
hello
hi
good morning

In [ ]:
#without args and return values
def product():
  n1=int(input("Enter a number:"))
  n2=int(input("Enter a number:"))
  n3=int(input("Enter a number:"))
  prod=n1*n2*n3
  print("product:",prod)
product()

Enter a number:9
Enter a number:6
Enter a number:3
product: 162

In [ ]:
#without args and with return values
def product():
  n1=int(input("Enter a number:"))
  n2=int(input("Enter a number:"))
  n3=int(input("Enter a number:"))
  prod=n1*n2*n3
  return prod
res=product()
print("product:",res)

Enter a number:9
Enter a number:6
Enter a number:3
product: 162

In [ ]:
#with args and without return values
def product(n1,n2,n3):
  prod=n1*n2*n3
  print("product:",prod)
product(9,6,3)

product: 162

In [ ]:
#with args and without return values
def product(a,b,c):
  prod=a*b*c
  print("product:",prod)
n1=int(input("Enter a number:"))
n2=int(input("Enter a number:"))
n3=int(input("Enter a number:"))
product(n1,n2,n3)

Enter a number:9
Enter a number:6
Enter a number:3
product: 162

In [ ]:
#with args and return values
def product(a,b,c):
  prod=a*b*c
  return prod
n1,n2,n3=map(int,input("Enter a number:").split(","))
result=product(n1,n2,n3)
print("result:",result)

Enter a number:9,6,3
result: 162

In [ ]:
#lemons program using fuction type 1
def lemons():
  n=int(input("enter the lemons:"))
  if n>21:
    excess=n-21
    print("Excess lemons",excess)
  else:
    less=21-n
    print("Less lemons",less)
lemons()

enter the lemons:18
Less lemons 3

In [ ]:
#Find the factors of the given number using functions type 2
def factors():
  num=int(input("enter a number:"))
  l=[]
  for i in range(1,num+1):
    if num%i==0:
      l.append(i)
  return l
result=factors()
print("factors:",result)

enter a number:9
factors: [1, 3, 9]

In [ ]:
#print multiplication table for the given number using function type 3
def multiplication_table(n):
  for i in range(1,11):
    print(n,"X",i,"=",i*n)
num=int(input("enter a number:"))
multiplication_table(num)

enter a number:5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
#find out sum of digits of numbers using functions type 4
def sum_of_digits(num):
  sum=0
  while num>0:
    rem=num%10
    sum=sum+rem
    num=num//10
  return sum
n=int(input("enter a number:"))
sum_of_digits(n)

enter a number:12

3

In [ ]:
#recursion
def display():
  n=int(input("enter a number:"))
  if n==1:
    display()
  else:
    print("over")
display()

enter a number:1
enter a number:1
enter a number:3
over

In [ ]:
#factorial of a number
def fact(n):
  if n==0:
    return 1
  return n*fact(n-1)
num=int(input("Enter a number:"))
print("factorial:",fact(num))

Enter a number:5
factorial: 120

In [ ]:
#fibonacci series
num = 10
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")
print()

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

In [ ]:
#fibonacci using recursion
def fibonacciSeries(i):
  if i <= 1:
    return i
  else:
    return (fibonacciSeries(i - 1) + fibonacciSeries(i - 2))
num=10
if num <=0:
  print("Please enter a Positive Number")
else:
  print("Fibonacci Series:", end=" ")
for i in range(num):
  print(fibonacciSeries(i), end=" ")

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

In [ ]:
def sum_sub(a,b):
  sum=a+b
  sub=a-b
  return sum,sub
res1,res2=sum_sub(22,11)
print("sum:",res1,"difference:",res2)

sum: 33 difference: 11

In [ ]:
#variable length method
def sum(*a):
  c=0
  for i in a:
    c=c+i
  print(c)
sum(4,8,7)

19